<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="icon" th:href="@{/images/icon.png}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/thanks.css}">
</head>
<body>
<th:block th:insert="layouts/top.html"></th:block>
<div id="wrapper">
    <div class="mobile-screen">
        <div class="headers">
            <h1>Registration</h1>
        </div>
        <form id="login-form" class="register" action="/user/register" method="post" th:object="${user}">
            <a th:href="@{/user/login}" class="backlogin getpass-btn"><i class="fa fa-arrow-left av" aria-hidden="true"></i></a>

            <input th:field="*{userName}" type="text" name="userName" th:classappend="${#fields.hasErrors('userName')} ? 'invalid' " placeholder="Username">
            <p th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="error-hint"></p>

            <input th:field="*{email}" type="text" name="email" th:classappend="${#fields.hasErrors('email')} ? 'invalid' " placeholder="E-mail">
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error-hint"></p>

            <input th:field="*{password}" type="password" th:classappend="${#fields.hasErrors('password')} ? 'invalid' " name="password" placeholder="Password">
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error-hint"></p>

            <input th:field="*{confirmPassword}" type="password" name="confirmPassword" th:classappend="${#fields.hasErrors('confirmPassword')} ? 'invalid' : '' "  placeholder="Confirm Password">
            <p th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="error-hint"></p>

            <button class="btn btn-block" type="submit">REGISTER</button>
            <div class="other-options">
                <div class="option" id="newUser"><a th:href="@{/user/register}" class="option-text">NEW USER</a></div>
                <div class="option" id="fPass"><a th:href="@{/user/forgot-password}" class="option-text"> FORGOT PASSWORD</a></div>
            </div>
        </form>
    </div>
    <th:block th:insert="layouts/bottom.html"></th:block>
</div>
<script th:src="@{/js/shop.js}"></script>
<script th:src="@{/js/thanks.js}"></script>
<script th:src="@{/js/pro1.js}"></script>
</body>
</html>
