<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Sustainability</title>
  <link rel="icon" th:href="@{/images/icon.png}" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" th:href="@{/css/sustainability.css}">
</head>
<body>
<th:block th:insert="layouts/top.html"></th:block>
<div id="wrapper">
  <div class="sus">
    <div class="sus-body">
      <div class="sus-img">
        <img width="300" th:src="@{/images/sustainability.png}" class="img1">
      </div>
      <div class="text">
        <div class="text-body">
          <div class="text1">
            <h4>Sometimes the idea of ​​perfection becomes lame and faltering, and people would rather do nothing than do something that isn't "100% right." Some people believe that they don't need to.</h4>
          </div>
          <div class="text1">
            <h4>Nowadays, human consumption is an alarming problem and this contributes to the great progress of pollution and waste around the world. Therefore, we are committed to ensuring safe and ethical practices for everyone during working hours. We believe in finding real positive long-term solutions when it comes to working conditions.</h4>
          </div>
          <div class="text1">
            <h4>However, sustainable development is a complete journey, development must not stop, and every step must be graced. Unfortunately, the sustainable sustainable theme has its benefits because everyone thinks it's forced on them. Because the products are only organic and fair trade products and the prices are high.Truth: There is a reward for everything. Human overconsumption of cheap and unfriendly products costs people a lot of money for the environment and the health of their communities.</h4>
          </div>
          <div class="text1">
            <h4>Recently, Sustainable has become a sustainable buyer of environmentally friendly products, but for us, sustainable effectiveness is a real impactful marketing strategy. We are specialized in human health and providing the best products, and all production relationships from day one are made with sustainable and sustainable profits. Hence the name "RESTORE THE EARTH" was born.</h4>
          </div>
          <div class="text1">
            <h4>We strive to do everything the right way, avoid using cheap kitchens and produce ethical pieces, even if this process takes time. Sustainability is our standard. As we continue to supply good products, we will continue to find new ways to be friendly. We strive to be very transparent about our path to sustainable development and what we are working to improve. We want to explore others, no matter how small, to start making more sustainable choices.</h4>
          </div>
        </div>
      </div>
      <div class="ques">
        <div class="accordion1 js-accordion">
          <div class="accordion__item js-accordion-item">
            <div class="accordion-header js-accordion-header">THINGS WE ARE NOT PERFECT AT</div>
            <div class="accordion-body js-accordion-body">
              <div class="accordion-body__contents">
                We are always looking for more sustainable solutions within our business, including finding new ways to incorporate recycled materials into our products. Below are some aspects of our business that could be improved and made more sustainable.
              </div>
              <div class="accordion js-accordion">
                <div class="accordion__item js-accordion-item">
                  <div class="accordion-header js-accordion-header">TRAVELLING, ESPECIALLY LONG FLIGHTS.</div>
                  <div class="accordion-body js-accordion-body">
                    <div class="accordion-body__contents">
                      We are fully aware of the impact that air travel has on the environment. However, in many cases there is no other alternative (i.e. train). Photography in different countries is an important part of our brand as it allows us to connect with a global audience.
                    </div>
                  </div>
                </div>
                <div class="accordion__item js-accordion-item">
                  <div class="accordion-header js-accordion-header">SHIPPING.</div>
                  <div class="accordion-body js-accordion-body">
                    <div class="accordion-body__contents">
                      There are many flaws in the shipping industry and we ship to customers all over the world. We use emissions-free shipping for deliveries in the UK, but there is still room for improvement.
                    </div>
                  </div>
                </div>
                <div class="accordion__item js-accordion-item">
                  <div class="accordion-header js-accordion-header">RETURNS.</div>
                  <div class="accordion-body js-accordion-body">
                    <div class="accordion-body__contents">
                      We don't have many returns, but we try to minimize returns as much as possible. Most of our returns are due to incomplete or incorrect addresses, so we are working on a better system to avoid this.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion1 js-accordion">
          <div class="accordion__item js-accordion-item">
            <div class="accordion-header js-accordion-header">OUR SHIPPING & RETURNS METHODS</div>
            <div class="accordion-body js-accordion-body">
              <div class="accordion-body__contents">
                Our packaging is plastic-free and our garment bags, mailers and shipping labels are made from 100% biodegradable materials that break down in 18 months and 3-6 months when composted. Our sunglasses are shipped in recycled cardboard. We also use a third-party service that collects and recycles all cardboard boxes and packaging we receive from inventory deliveries.<br><br>When a customer places multiple orders, he always ships all items in one package to minimize the need for extra shipping. We also reduce shipping by having in-house sample and pattern developers who create final products without the need for shipping or flying prior to mass production.

              </div>
            </div>
          </div>
        </div>
        <div class="accordion1 js-accordion">
          <div class="accordion__item js-accordion-item">
            <div class="accordion-header js-accordion-header">RESTORE THE EARTH</div>
            <div class="accordion-body js-accordion-body">
              <div class="accordion-body__contents">
                In 2023, we launched RESTORE THE EARTH. Instead of donating funds to other foundations, we decided to create our own foundation to ensure that the funds and resources go to the right places and are used in the most impactful way possible.
                <br><br>Setting up your own foundation is a long and tedious process that requires passing multiple checks and criteria beforehand. We are currently in the final stages of the process and awaiting approval.
                <br><br>Once our foundation is approved and officially established, we will announce our first mission, which will begin in early 2023.


              </div>
            </div>
          </div>
        </div>


        <div class="accordion1 js-accordion">
          <div class="accordion__item js-accordion-item">
            <div class="accordion-header js-accordion-header">HOW CAN YOU BE PART OF THE SOLUTION?</div>
            <div class="accordion-body js-accordion-body">
              <div class="accordion-body__contents">
                We are always looking for more sustainable solutions within our business, including finding new ways to incorporate recycled materials into our products. Below are some aspects of our business that could be improved and made more sustainable.
              </div>
              <div class="accordion js-accordion">
                <div class="accordion__item js-accordion-item">
                  <div class="accordion-header js-accordion-header">RECYCLE OR DONATE YOUR UNWANTED ITEM.</div>
                  <div class="accordion-body js-accordion-body">
                    <div class="accordion-body__contents">
                      Instead of throwing away your old items, donate them to your local community service organization or thrift store. There are usually recycling options as well.
                    </div>
                  </div>
                </div>
                <div class="accordion__item js-accordion-item">
                  <div class="accordion-header js-accordion-header">BUY CONSCIOUSLY.</div>
                  <div class="accordion-body js-accordion-body">
                    <div class="accordion-body__contents">
                      Choose high-quality products that you really love and will use for a long time.

                    </div>
                  </div>
                </div>
                <div class="accordion__item js-accordion-item">
                  <div class="accordion-header js-accordion-header">CHOOSE BRANDS THAT INVEST INTO SUSTAINABILITY.

                  </div>
                  <div class="accordion-body js-accordion-body">
                    <div class="accordion-body__contents">
                      Your consumption choices are investments. By purchasing sustainable products, you are sending a message for more environmentally friendly options.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="our">
          <img width="325" th:src="@{images/our-certifications.png}" class="our-img">
          <div class="wrappers">

            <div class="cols">
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="containers">
                  <div class="front" style="background-image: url(https://i.imgur.com/GBXrlyH.png)">
                  </div>


                  <div class="back">
                    <div class="inner">
                      <h1>ECOCERT</h1>
                      <p>Certification that cosmetics contain organic ingredients</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="containers">
                  <div class="front" style="background-image: url(https://i.imgur.com/88yN87E.png)">

                  </div>
                  <div class="back">
                    <div class="inner">
                      <h1>FSC</h1>
                      <p>Certification that wood is sourced from properly managed forests with sustainability in mind</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="containers">
                  <div class="front" style="background-image: url(https://i.imgur.com/mK1cYWm.png)">

                  </div>
                  <div class="back">
                    <div class="inner">
                      <h1>GOTS</h1>
                      <p>Certification that organic fibers are used in clothing</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="containers">
                  <div class="front" style="background-image: url(https://i.imgur.com/xlzYe2d.png)">

                  </div>
                  <div class="back">
                    <div class="inner">
                      <h1>JAS</h1>
                      <p>Certification of organically grown food</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="containers">
                  <div class="front" style="background-image: url(https://i.imgur.com/Ja9I6Q8.png)">

                  </div>
                  <div class="back">
                    <div class="inner">
                      <h1>MSC</h1>
                      <p>Certification of “natural” marine products caught through sustainable fishing practices with consideration for the marine natural environment </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="containers">
                  <div class="front" style="background-image: url(https://i.imgur.com/BnCbHNx.png)">

                  </div>
                  <div class="back">
                    <div class="inner">
                      <h1>RSPO</h1>
                      <p>Certification that the process from palm oil production to distribution is closely monitored and consideration is given to the sustainability</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="backtop">
      <a id="back-top" href="#top"><img th:src="@{images/top.png}" width="22px"></a>
    </div>

    <th:block th:insert="layouts/bottom.html"></th:block>
  </div>
  <script th:src="@{js/sustainability.js}"></script>
  <script th:src="@{/js/script.js}"></script>
  <script th:src="@{js/shop.js}"></script>
  <script th:src="@{js/pro1.js}"></script>
</div>
</body>
</html>
