* {
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-weight: bold;
}
body {
  width: 100%;
  height:100%;
  margin: 0;
  padding: 0;
  overflow-x:hidden;
  position: relative;
  background-color: #faf7f5;
  display: flex;
  justify-content: center;
  align-items: center;
}
header{
  position: fixed;
  top:0;
  left:0;
  right: 0;
  height: 88px;
  display:flex;
  align-items: center;
  background-color: #faf7f5;
  transition: all 80ms ease-out;
  z-index: 999;
  transition: box-shadow 0.15s ease-in-out 0s;
}
header.scrolled {
  box-shadow: 0px 0px 1px rgb(0, 0, 0.01);
}
ul{
  list-style: none;
}
.header-top .wrapper ul{
  gap: 2em;
}
.header-top li{
  position: relative;
  display: flex;
    position: relative;
    line-height: inherit;
}
.header-top ul ul{
  position: absolute;
  left: -1em;
  line-height: 2em;
  background-color: #312923;
  border: 1px solid #312923;
  z-index: 1;
  display: none;
}
.header-top .right ul ul li a{
  padding: 0.25em 1em;
}
.header-top.right ul ul li.current a{
  background-color: #faf7f5;
}
.header-top li:hover ul{
  display: block;
}

header li > a{
  display:inline-block;
  position: relative;
  line-height: inherit;
}
header .right{
  display: flex;
  position:fixed;
  right:25px;
  top: 14px;
  
}
header .right i{
  font-size: 23px;
  color:#312923;
  margin-left: 24px;
  text-decoration: none;
  margin: 0 13px;
}
.header-nav nav > ul{
  line-height: 100px;
  gap: 2em;
}
.isuser{
  margin: 0 0px;
}
.fly-item{
  position:absolute;
  right:-1%;
  top:-30%;
  font-size:70%;
  padding:.2em;
  border-radius:50%;
  line-height:1em;
  color:#faf7f5;
  background:#312923;
  text-align:center;
  min-width: 1em;
  font-weight: 200;
}
nav .fly-item{
  top: 50%;
  margin-top: -24px;
  width: 30px;
  border-radius: 3px;
  right: -32px;
  background-color: #312923;
}
.header-nav .right{
  position: relative;
  margin-left: auto;
}
.header-nav .right .icon-large{
  position: relative;
}
.header-nav .right .fly-item{
  top: 0;
  right: 16px;
  width: 16px;
  background-color: #312923;
  border-radius: 50px;
}

.icons i:hover{
  transform: scale(1.04);
}
header .icons h{
  color: #312923;
  font-size: 16px;
}

header #logo{
  display: flex;
  position:fixed;
  left:2px;
  top: 3px;
  width: 160px;
  z-index: 99;
}
.logo{
  height: 86px;
  width: 166px;
}
#hr{
  width: 32px;
  position: absolute;
    height: auto;
    margin: 0 auto;
    margin-left: 118px;
    top: 13%;
    z-index: 9;
    -webkit-animation: animationLoad 20s linear infinite;
    -moz-animation: animationLoad 20s linear infinite;
    animation: animationLoad  20s linear infinite;
}

@keyframes animationLoad{
  0%{
    transform: rotate(0); scale: 1;
    opacity: 1;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 1;
    transform: rotate(360deg) scale(1);
  }
}

.tb{
  top: 70px;
  left: auto;
  right: 24px;
  justify-content: flex-end;
  z-index: 1400;
  position: fixed;
  align-items: center;
  display: none;
}
.tbb{
  padding: 12px 15px;
  background-color: #312923;
  border-radius: 5px;
  color: #faf7f5;
  font-weight: 200;
  font-size: 16px;
  box-shadow: rgb(50 50 93 / 11%) 0px 4px 6px, rgb(0 0 0 / 8%) 0px 1px 3px;
}

nav{
  position:fixed;
  bottom:-2px;
  left:-17px;
}
nav .menu ul {
  width: 250px;
  padding: 0;
}
nav.menu ul li{
  margin-bottom: 32px;
  width: auto;
  height: 16px;
  list-style: none;
}
nav.menu ul li a{
  font-weight: 200;
  text-decoration: none;
  color: #312923;
  font-size: 17px;
  display:flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.social-icon{
  display:flex;
  position:fixed;
   right: 15px;
   bottom:12px;
}

.social-icon li{
  list-style: none;
  margin: 0 13px;
  font-size:23px;
}
.social-icon li a {
  position:relative;
  display:flex;
  transition: 0.1s;
  text-decoration: none;
  color: #312923;
}

.social-icon li:nth-child(1) a:hover{
  transform: scale(1.05);
  color: #3b5999;
}
.social-icon li:nth-child(2) a:hover{
  transform: scale(1.05);
  color: #55acee;
}
.social-icon li:nth-child(3) a:hover{
  transform: scale(1.05);
  color: #e4405f;
}
.social-icon li:nth-child(4) a:hover{
  transform: scale(1.05);
  color: #dd4b39;
}
.footer{
   
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
   display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
}

.copyright{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.235;
  display: flex;
  margin-bottom: 28px;
  color: #312923;
}
#back-top {
  position: fixed; 
  display:none; 
  bottom: 80px; 
  right:20px; 
  width:auto;
}
a#back-top:active {
  background:none;
}
a#back-top {
  display: block; 
  text-decoration: none;
}
.topup {
  bottom:5px;
}
#back-top i {
  display:block;
}

.star{
  color: rgb(228, 214, 24);
  font-size: 20px;
}
.container {
  margin: auto;
  padding: 0 1rem;
  max-width: 71.25rem;
  width: 100%;
}

.first {
  order: -1;
}

.last {
  order: 12;
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: auto;
  }
  .grid > [class*=column-] {
    margin: 0;
    max-width: 100%;
  }

  
  @media (min-width: 62rem) {   
    .column-md-5 {
      grid-column-start: span 6;
      grid-column-end: span 6;
    }
    .column-md-7 {
      grid-column-start: span 7;
      grid-column-end: span 7;
    } 
  }
}


a {
  color: #888;
  text-decoration: none;
  transition: all 0.2s ease;
}
a:hover {
  color: #312923;
}
a.active {
  color: #312923;
}

h1, h2, h3, h4 {
  color: #312923;
}

h1 {
  font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    font-size: 1.5rem;
    font-family: inherit;
    height: unset;
    line-height: 1.334;
    letter-spacing: 0em;
    margin-top: -5px;
    margin-bottom: 12px;
}

h2 {
  font-weight: 700;
  margin: 20px 0px;
  text-align: left;
  width: 100%;
  font-family: inherit;
    height: unset;
    font-size: 1.25rem;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
  margin: 1rem 0 0.5rem 0;
}
.description{
  width: 80%;
}
.title1{
  font-size: 17px;
  text-transform: uppercase;
  padding-bottom: 5px;
  font-weight: 700;
}
.text1{
  font-weight: 200;
  padding-bottom: 13px;
  
  font-size: 14px;
}

section {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

nav {
  display: block;
}
nav li {
  font-size: 1.125rem;
  margin: 0;
}

.flex-nav ul {
  position: absolute;
  z-index: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  display: none;
  width: 100%;
  left: 0;
  padding: 1rem;
  background: #fff;
  text-align: center;
}
.flex-nav ul.active {
  display: flex;
}
.flex-nav ul li {
  margin: 0.5rem 0;
}

.toggle-nav {
  display: flex;
  justify-content: flex-end;
  font-size: 1.125rem;
  line-height: 1.7;
  margin: 1rem 0;
}
.toggle-nav i {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 0 0 0 0.5rem;
}

#highlight {
  color: #333;
  font-size: 1.125rem;
  text-transform: uppercase;
}

.price {
  margin: 0;
}

.breadcrumb-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 1rem 0 0 0;
  list-style: none;
}
.breadcrumb-list li {
  font-size: 0.85rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.breadcrumb-item.active {
  color: #333;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: "/";
  display: inline-block;
  padding: 0 0.5rem;
  color: #d5d5d5;
}

.buttons_added {
    opacity:1;
    display:inline-block;
    display:-ms-inline-flexbox;
    display:inline-flex;
    white-space:nowrap;
    vertical-align:top;
    border-radius: 5px;
    box-shadow: rgb(50 50 93 / 11%) 0px 2px 4px, rgb(0 0 0 / 8%) 0px 2px 4px;
}
.is-form {
    overflow:hidden;
    position:relative;
    background-color:#fff;
    height:37px;
    width:30px;
    font-size: 22px;
    color: #312923;
    border:none;
    transition: 0.3s;
}
.is-form:hover{
  background-color:#faf7f5;
  opacity: 0.7;
}
.is-form:focus,.input-text:focus {
    outline:none;
}
.is-form.minus {
    border-radius:4px 0 0 4px;
}
.is-form.plus {
    border-radius:0 4px 4px 0;
}
.input-qty {
  width: 40px;
    background-color:#fff;
    text-align:center;
    font-size:20px;
    display:inline-block;
    vertical-align:top;
    font-weight: 200;
    margin:0;
    border-top:none;
    border-bottom:none;
    border-left:1px solid #e2dcdc;
    color: #312923;
    border-right:1px solid #e2dcdc;
    padding:0;
   
}
.input-qty::-webkit-outer-spin-button,.input-qty::-webkit-inner-spin-button {
    -webkit-appearance:none;
    margin:0;
}


.add {
  padding: 15px;
  border-radius: 5px;
  font-size: 15px;
  background: #886e5a;
  color: #ffffff;
  -webkit-box-align: center;
  align-items: center;
  width: 210px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  margin-bottom: 40px;
  margin-top: 25px;
  box-shadow: rgb(50 50 93 / 11%) 0px 4px 6px, rgb(0 0 0 / 8%) 0px 1px 3px;
}
.add:hover{
  background-color: #312923;
}
.container {
  margin: auto;
  padding: 0 1rem;
  max-width: 75rem;
  width: 100%;
  margin-top: 110px;
  margin-bottom: 110px;
}



.grid.menu > [class*=column-] {
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.grid.product {
  padding: 0 0 1.5rem 0;
  margin-right: -50px;
}
.grid.second-nav > [class*=column-] {
  padding: 0.5rem 1rem;
}



.product-image {
  display: none;
}

.image-list li {
  margin: 0;
}


.iLAZIh {
  width: 100%;
  margin-top: 20px;
}
.bOYtNB {
  width: 100%;
  display: flex;
  -webkit-box-pack: start;
  justify-content: start;
}
.kZplGf.kZplGf {
  width: 100%;
  display: flex;
}
.MuiGrid-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.MuiGrid-grid-xs-4 {
  flex-grow: 0;
  max-width: 33.333333%;
  flex-basis: 33.333333%;
}

.MuiGrid-justify-content-xs-center {
  justify-content: center;
}

.MuiGrid-item {
  margin: 0;
  box-sizing: border-box;
}

.eNLHpt {
  height: 120px;
  width: 120px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 10px;
}

.bFIxXq{
  border-radius: 5px;
  box-shadow: rgb(50 50 93 / 11%) 0px 1px 2px, rgb(0 0 0 / 8%) 0px 1px 4px;
}


@media (min-width: 62rem) {
  .product-image img, .image-list img {
    width: 80%;
    
  }

  .product-image {
    display: block;
    
  }
  .product-image img {
    height: 90%;
  }
  .product-image img.active {
    display:flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
  }

  .image-list {
    display: flex;
    overflow: hidden;
    padding: 0;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
  }
  .image-list li {
    margin: 0px 0.75rem 0px 3px;
    flex-basis: 100%;
  }
  .image-list li:nth-child(3) {
    margin: 0;
  }
  .image-list img {
    height:auto;
    width: 100%;
    transition: opacity 0.3s ease;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 3px;
  }
  .image-list img:hover {
    opacity: 0.7;
  }
  .image-list img:focus{
    outline: 2px solid #886e5a;
  }

  nav ul {
    justify-content: flex-end;
  }

  .toggle-nav {
    display: none;
  }

  .flex-nav {
    display: block;
  }
  .flex-nav ul {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: flex-end;
  }
  .flex-nav ul li {
    font-size: 1.125rem;
    margin: 0 1.5rem 0 0;
  }
  .flex-nav ul li:nth-child(4) {
    margin: 0;
  }
}
@-webkit-keyframes fadeImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 35%;
  border-radius: 8px;
  margin-top: 9px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: #523C32;
}

.dropdown-content a:last-child {
  border-radius: 0 0 8px 8px;
}

.dropdown-content::before {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  top: -5px;
  right: 40px;
  background-color: #523C32;
  transform: rotate(45deg);
  z-index: -1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: 100;
}
.dropdown-content a i{
  font-size: 15px;
  color: white;
}
.dropdown-content a span{
  font-weight: 100;
  color: white;
  font-size: 13px;

}
.dropdown-content hr{
  width: 81%;
  margin: 0 auto;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 2px;
}
.dropdown-content a:hover {
  background-color: #5B463C;
}

.show {
  display: block;
}
.email-show{
  padding: 15px;
  color: darkgray;
  font-size: 13px;
  text-align: center;
}


