<ul class="social-icon">
  <li><a href="https://www.instagram.com/k26.ssk/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
  <li><a href="https://www.instagram.com/k26.ssk/" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
  <li><a href="https://www.instagram.com/k26.ssk/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
  <li><a href="https://www.instagram.com/k26.ssk/" target="_blank"><i class="fa-brands fa-google-plus-g"></i></a></li>
</ul>
<nav class="menu">
  <ul>
    <li><a th:href="@{/sustainability}">SUSTAINABILITY</a></li>
    <li><a th:href="@{/shipping-price}">SHIPPING PRICES</a></li>
    <li><a th:href="@{/contact}">CONTACT US</a></li>
    <li><a th:href="@{/product-list}">PRODUCTS</a></li>
    <li><a th:href="@{/subscribe}">SIGN UP</a></li>
    <li><a th:href="@{/terms}">TERMS</a></li>
  </ul>
</nav>
<footer class="footer">
  <div class="copyright">
    © 2023 RESTORE THE EARTH
  </div>
</footer>